body {
  font-family:monospace;
}

main {
  display:flex;
}

header {
  display:flex;
  align-items:flex-end;
  height:100px;
  width:100%;
  background:url(/~img/bg/forest-edge.png);
  background-position:center;
}

article {
  padding:1rem;
  background:tan;
}
article h2 {
  border-bottom:2px solid green;
}

aside {
  padding:1rem;
  width:150px;
}
nav h2 {
  margin:0.5rem 0;
  font-size:1rem;
}
nav ul {
  margin:0.5rem 0 1rem;
  padding:0;
  list-style-type:none;
}

footer {
  padding:1rem;
}
footer img {
  display:inline-block;
  width:88px;
  height:31px;
}

.warning {
  font-weight:bold;
  color:#7e0f0f;
}